asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.2
defusedxml==0.7.1
Django==6.1.1
httpie==3.2.4
idna==3.20
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==7.0.0
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
PySocks==1.7.1
pytest==9.1.1
pytest-django==4.14.0
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
setuptools==84.0.0
sqlparse==0.6.0
urllib3==2.8.0
